.winner-alert-enter {
  opacity: 0;
  transform: translateY(1000px);
}
.winner-alert-enter-active {
  opacity: 1;
  transition: 800ms ease;
  transform: translateY(0px);
}

.winner-alert-exit {
  opacity: 1;
  transform: translateY(0px);
}
.winner-alert-exit-active {
  opacity: 0;
  transition: 800ms ease;
}

.item-enter {
  opacity: 0;
  transform: scale(.9);
}
.item-enter-active {
  opacity: 1;
  transition: 300ms ease;
  transform: scale(1);
}

.csv-popup-enter {
  opacity: 0;
  transform: scale(.9);
}
.csv-popup-enter-active {
  opacity: 1;
  transition: 200ms ease;
  transform: scale(1);
}

.csv-popup-exit {
  opacity: 1;
}
.csv-popup-exit-active {
  opacity: 0;
  transform: scale(.9);
  transition: 200ms ease;
}

.destruct-value-animation {
  animation: destruct-value-animation .5s ease-out;
}

@keyframes destruct-value-animation {
  0% {
    background-color: rgba(167, 41, 41, 0.2);
    transform: scale(1.0);
  }
  50% {
    background-color: rgba(167, 41, 41, 0.2);
    transform: scale(1.10);
  }
  to {
    background-color: transparent;
    transform: scale(1.0);
  }
}

.added-value-animation {
  animation: add-value-animation .5s ease-out;
}

@keyframes add-value-animation {
  0% {
    background-color: rgba(102,186,17,.2);
    transform: scale(1.0);
  }
  50% {
    background-color: rgba(102,186,17,.2);
    transform: scale(1.10);
  }
  to {
    background-color: transparent;
    transform: scale(1.0);
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}